#ignorar todos os arquivos e sub-pastas localizados na pasta upload/
upload/

archive/
#ignorar todos os arquivos de log
*.log

#ignorar o arquivo de configuração local

.git/

#ignorar pasta do node

node_modules/

package-lock.json
