<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Webexact</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">WebExact</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav">

            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="login.php">Login</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
      <center><h1 class="pb-5">Você é:</h1></center>
      
      <div class="h-75 container d-flex justify-content-around  mt-5">
        <div class="d-flex p-2" >
          <a href="cadastroprofessor.php" class="btn btn-lg active" role="button" aria-pressed="true" style="border: 2px solid #c5d7fa">
            <img src="../Images/professor.png" class="rounded float-left" alt="Professor" style="height: 200px">
            <figcaption><b>Professor</b></figcaption>
          </a>
        </div>
        <div class="d-flex p-2">
          <a href="cadastroaluno.php" class="btn btn-lg active" role="button" aria-pressed="true" style="border: 2px solid #c5d7fa">
            <img src="../Images/aluno.png" class="rounded float-left" alt="Aluno" style="height: 200px">
            <figcaption><b>Aluno</b></figcaption>
          </a>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
